 {%extends "main/base.html"%}
 {%block content%}
 <div class="container">
     <div class="card">
         <div class="card-body" style="background-color: white;">
             <p style="color:black;">{{object.title}}</p>
             <img src="{{object.image.url}}">
             <p style="color:black;">{{object.post_date}}</p>
             <p style="color: black;">{{ object.message }}</p>
             {% if object.masterpost == user %}
             <a href="{%  url 'post-update' object.id %}" class="btn btn-dark" style="color:black;">Update</a>
             <a href="{%  url 'post-delete' object.id %}" style="color: black;">Delete</a>

             {%endif%}
         </div>
     </div>
 </div>

 {%endblock%}